html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10%;
    background: #aaa;
    border-bottom: 1px solid black;
}
main {
    width: 100%;
    height: 80%;
}
footer {
    width: 100%;
    height: 10%;
    background: #aaa;
    border-top: 1px solid black;
}
div#sidebar {
    width: 20%;
    height: 100%;
    float: left;
    background: #ddd;
    border-right: 1px solid #aaa;
}
div#breadcrumbs{
    width: 80%;
    height: 10%;
    float: left;
}
div#content {
    width: 80%;
    height: 90%;
    float: left;
}

div.button {
    border: 1px solid black;
    padding: 5px 20px;
    margin: 5px;
    background: #bbb;
    cursor: pointer;
    width: 10em;
    max-width: 95%;
}
div.button:hover {
    background: #333;
    color: #fff;
}

div#breadcrumbs div.breadcrumb {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: underline;
}

div#content div.bu
